.App {
  text-align: center;
  width: 80%;
  margin:auto;
}

.MainCalendarView {
  width: 65%;
  float: left;
  border: 1px solid red;
  margin: 5px;
}

.ExistingReservations {
  width: 65%;
  float: left;
  border: 1px solid red;
  margin: 5px;
}

.NewReservation {
  width: 30%;
  float: left;
  border: 1px solid red;
  margin: 5px;
}
