.Topbar{
    width: 100%;
    height: 32px;
    font-size: 32px;
    font-weight: 200;
    padding-bottom: 30px;
}

/* For whatever reason the top bar is off 45 px relative to the rest of the page. Figure out why! */
.BackBtn {
    float: left;
    margin-left: 45px;
}